---
name: Run SQL updater

on:
  workflow_call:
    inputs:
      round:
        type: number
        required: true
        description: Round number.
      is-sprint:
        type: boolean
        required: true
        description: Is the round a sprint weekend.
      artifact-id:
        type: string
        required: true
        description: The artifact id of the artifact created by the race-tech/f1-data-downloader workflow.
      run-id:
        type: number
        required: true
        description: The run id of the workflow used to upload csv artifacts.
      repository:
        required: true
        type: string
        description: The repository from where we'll pull the csv files.
      f1-db-version:
        type: string
        required: false
        default: latest
        description: The F1 DB version to base the update on.
    secrets:
      access-token:
        type: string
        required: true
        description: The access token to retrieve artifacts from the repository.
    outputs:
      artifact-id:
        value: ${{ jobs.run-updater.outputs.artifact-id }}
        description: The artifact id of the sql dump generated.
      run-id:
        value: ${{ github.run_id }}
        description: The run id of this workflow.

jobs:
  run-updater:
    defaults:
      run:
        working-directory: f1-sql-updater
    
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}
      MYSQL_USER: root
      MYSQL_PWD: password
      MYSQL_TCP_PORT: 13306
      MYSQL_DATABASE: f1db

    outputs:
      artifact-id: ${{ steps.upload-artifacts.outputs.artifact-id }}

    services:
      database:
        image: ghcr.io/race-tech/f1-db:${{ inputs.f1-db-version }}
        env:
          MYSQL_DATABASE: ${{ env.MYSQL_DATABASE }}
          MYSQL_ROOT_PASSWORD: ${{ env.MYSQL_PWD }}
        ports:
          - 13306:3306
        options: --health-cmd="mysqladmin ping -u root" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Setup working dir
        working-directory: ${{ github.workspace }}
        run: |
          rm -rf f1-sql-updater
          mkdir f1-sql-updater
          
      - name: Verify f1db exists
        run: mysql --host 127.0.0.1 -uroot -e "SHOW DATABASES LIKE '${{ env.MYSQL_DATABASE }}'"
     
      - name: Retrieve latest binary
        run: gh release download -R race-tech/f1-sql-updater --pattern 'f1-sql-updater'

      - name: Retrieve csv files
        uses: actions/download-artifact@v5
        with:
          artifact-ids: ${{ inputs.artifact-id }}
          repository: ${{ inputs.repository }}
          github-token: ${{ secrets.access-token }}
          run-id: ${{ inputs.run-id }}
          path: f1-sql-updater/csv

      - name: Run updater
        run: |
          chmod +x ./f1-sql-updater
          ./f1-sql-updater ${{ inputs.round }} ${{ inputs.is-sprint }}

      - name: Create sql dump
        run: |
          mysqldump --host 127.0.0.1 -uroot ${{ env.MYSQL_DATABASE }}> f1db.sql
          gzip f1db.sql

      - name: Upload sql dump
        id: upload-artifacts
        uses: actions/upload-artifact@v4
        with:
          name: f1db.sql.gz
          path: f1-sql-updater/f1db.sql.gz
